@model IEnumerable<anuncio>;

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Procura Acha</title>
    <link media="screen" rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.css" >
    <link media="screen" rel="stylesheet" href='https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.css' >
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.5/bluebird.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.js"></script>
    <link rel="shortcut icon" href="~/img/favicon.ico" asp-append-version="true">
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/font-awesome.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" asp-append-version="true">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
  
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
              
                </a>
            </div>


            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">

                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll login-btn">
                        <a href="@Url.Action("Cadastro", "Cadastro")">Cadastrar</a>                        
                    </li>
                    <li class="page-scroll login-btn">
                        <a href="@Url.Action("login", "Home")">Entrar</a>                           
                    </li>

                </ul>
            </div>
                        
        </div>

    </nav>

    <section class="intro">
            <div class="align-logo">
                <a class="discover">
                    <img class="logo" src="../img/Logo_PA.svg" alt="Logotipo">
                </a>
            </div>
            <div class="wrap">
                @using (Html.BeginForm("Index","Home",FormMethod.Get, new {id="frmId", @class = "search"}))
                {
                @Html.TextBox("Pesquisa")
                <button id="search-btn" type="submit" class="searchButton" value="Pesquisar">
                    <i class="fa fa-search"></i>
                </button>
                }
            </div>


    </section>

    <section id="results" class="results-section container">
 
        <ul class="results-list">
                    @foreach (var item in Model)
                    {
                        <li class="card">
                            <img class="foto" src="~/images/@item.imagepath">
                                <div class="container-card">
                                    <p class="title-card">@Html.DisplayFor( modelItem => item.nome)</p> 
                                    <h5 class="main-title"><b> @Html.DisplayFor( modelItem => item.categorianome )</b></h5> 
                                    <div class=descricao>
                                        <p>@Html.DisplayFor( modelItem => item.descricao)</p> 
                                    </div>
                                    <div class="card-bottom">
                                        <div class="left-side">
                                            <p class="price">$@Html.DisplayFor( modelItem => item.custo)</p>
                                            <div class="local">
                                                <p>@Html.DisplayFor( modelItem => item.cidade)/</p> 
                                                <p>@Html.DisplayFor( modelItem => item.estado)</p>
                                            </div>                                
                                        </div>
                                        <div class="phone">
                                            <p><img clas="phone-img" src="~/img/phone.png" alt="Fone" width="17" height="17"> @Html.DisplayFor( modelItem => item.telefone)</p>
                                            <p><img clas="phone-img" src="~/img/whatsapp.png" alt="WhatsApp" width="20" height="20"> @Html.DisplayFor( modelItem => item.whatsapp)</p>  
                                        </div>
                                    </div>
                                </div>
                        </li>
        
                    } 
        </ul>



    </section>
    
    <dir class="fix-footer"> </dir>

    <footer id= "footer" class="brand">
        <a class="fa">
            <span class="light">2022 | <img class="logo" src="~/img/Logo_PA_footer.svg" alt="Logotipo">
        </a>
    </footer>

    @if (TempData["success"] != null)
    {
        <script type="text/javascript">
            window.onload = function () {
                swal("Usuário criado com sucesso!", '@TempData["success"]', "success");
            };
        </script>
    }
    <script src="@Url.Content("~/js/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.easing.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/style.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/locations.js")" type="text/javascript"></script>

</body>

</html>
