@model IEnumerable<anuncio>;
@{
    ViewData["Title"] = "MeusAnuncios";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt_br">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>Procura Acha</title>
    <link rel="shortcut icon" href="~/img/favicon.ico" asp-append-version="true">
    <link rel="stylesheet" href="~/css/bootstrap.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/font-awesome.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/style.css" type="text/css" asp-append-version="true">
    <link rel="stylesheet" href="~/css/anuncio.css" type="text/css" asp-append-version="true">      
    <link rel="stylesheet" href="~/css/meusanuncios.css" type="text/css" asp-append-version="true">      

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" asp-append-version="true">
</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-custom">
  
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="@Url.Action("login", "Home")">
                    <img class="logo" src="~/img/Logo_PA.svg" alt="Logotipo">
                </a>
            </div>


            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">

                    <li class="hidden">
                        <a href="@Url.Action("login", "Home")"></a>
                    </li>
                    <li class="page-scroll login-btn">
                        <a href="@Url.Action("MeusAnuncios", "Anuncio")">Meus Anúncios</a>
                    </li>           
                    <li class="page-scroll login-btn">
                        <a href="@Url.Action("NovoAnuncio", "Anuncio")">Anunciar</a>
                    </li>            
                    <li class="page-scroll login-btn">
                        <a href="@Url.Action("Index", "Home")">Sair</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <section id="results" class="results-section container">
        <ul class="results-list">
                    @foreach (var item in Model)
                    {
                        <li class="card">
                            <form class="meus-anuncios-form" asp-controller="Anuncio" asp-action="ExcluirAnuncio" asp-route-id="@item.id" >
                                <button type="submit" class="btn btn-sm btn-outline-danger rounded-circle">
                                    <i class="fa fa-times-circle"></i></button>
                            </form>
                            <img class="foto" src="~/images/@item.imagepath">
                            <div class="container-card">
                                <p class="title-card">@Html.DisplayFor( modelItem => item.nome)</p> 
                                <h5 class="main-title"><b> @Html.DisplayFor( modelItem => item.categorianome )</b></h5> 
                                <div class=descricao>
                                    <p>@Html.DisplayFor( modelItem => item.descricao)</p> 
                                </div>
                                <div class="card-bottom">
                                    <div class="left-side">
                                        <p class="price">$@Html.DisplayFor( modelItem => item.custo)/hora</p>
                                        <div class="local">
                                            <p>@Html.DisplayFor( modelItem => item.cidade)/</p> 
                                            <p>@Html.DisplayFor( modelItem => item.estado)</p>
                                        </div>                                
                                    </div>
                                    <div class="phone">
                                        <p><img clas="phone-img" src="~/img/phone.png" alt="Fone" width="17" height="17"> @Html.DisplayFor( modelItem => item.telefone)</p>
                                        <p><img clas="phone-img" src="~/img/whatsapp.png" alt="WhatsApp" width="20" height="20"> @Html.DisplayFor( modelItem => item.whatsapp)</p>  
                                    </div>
                                </div>
                            </div>
                        </li>
        
                    }
        </ul>

    </section>
    
    <dir class="fix-footer"> </dir>

    <footer id= "footer" class="brand">
        <a class="fa">
            <span class="light">2022 | <img class="logo" src="~/img/Logo_PA_footer.svg" alt="Logotipo">
        </a>
    </footer>

    <script src="@Url.Content("~/js/jquery.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/bootstrap.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/jquery.easing.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/style.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/js/locations.js")" type="text/javascript"></script>

</body>

</html>
